<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="polygon_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_geopolygon"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="polygon_selection_lonpoints">
<entry key="array-size" type="xint" value="22"/>
<entry key="0" type="xdouble" value="4.8593902587890625"/>
<entry key="1" type="xdouble" value="4.853038787841797"/>
<entry key="2" type="xdouble" value="4.8504638671875"/>
<entry key="3" type="xdouble" value="4.84797477722168"/>
<entry key="4" type="xdouble" value="4.846343994140625"/>
<entry key="5" type="xdouble" value="4.845399856567383"/>
<entry key="6" type="xdouble" value="4.844799041748047"/>
<entry key="7" type="xdouble" value="4.844369888305664"/>
<entry key="8" type="xdouble" value="4.844198226928711"/>
<entry key="9" type="xdouble" value="4.845314025878906"/>
<entry key="10" type="xdouble" value="4.846773147583008"/>
<entry key="11" type="xdouble" value="4.84771728515625"/>
<entry key="12" type="xdouble" value="4.849262237548828"/>
<entry key="13" type="xdouble" value="4.850893020629883"/>
<entry key="14" type="xdouble" value="4.851579666137695"/>
<entry key="15" type="xdouble" value="4.852266311645508"/>
<entry key="16" type="xdouble" value="4.85321044921875"/>
<entry key="17" type="xdouble" value="4.853982925415039"/>
<entry key="18" type="xdouble" value="4.855442047119141"/>
<entry key="19" type="xdouble" value="4.856386184692383"/>
<entry key="20" type="xdouble" value="4.857759475708008"/>
<entry key="21" type="xdouble" value="4.858360290527344"/>
</config>
<config key="polygon_selection_latpoints">
<entry key="array-size" type="xint" value="22"/>
<entry key="0" type="xdouble" value="45.78643963098876"/>
<entry key="1" type="xdouble" value="45.7859009538856"/>
<entry key="2" type="xdouble" value="45.78482358406308"/>
<entry key="3" type="xdouble" value="45.78332720254533"/>
<entry key="4" type="xdouble" value="45.78183078086237"/>
<entry key="5" type="xdouble" value="45.78051389655661"/>
<entry key="6" type="xdouble" value="45.77931670201482"/>
<entry key="7" type="xdouble" value="45.77817934339009"/>
<entry key="8" type="xdouble" value="45.77746099967389"/>
<entry key="9" type="xdouble" value="45.77662292030879"/>
<entry key="10" type="xdouble" value="45.776084148351266"/>
<entry key="11" type="xdouble" value="45.77554537118828"/>
<entry key="12" type="xdouble" value="45.77476712831854"/>
<entry key="13" type="xdouble" value="45.77404874064522"/>
<entry key="14" type="xdouble" value="45.773330343717696"/>
<entry key="15" type="xdouble" value="45.773090876018735"/>
<entry key="16" type="xdouble" value="45.77285140729153"/>
<entry key="17" type="xdouble" value="45.77261193753607"/>
<entry key="18" type="xdouble" value="45.772552069936545"/>
<entry key="19" type="xdouble" value="45.77261193753607"/>
<entry key="20" type="xdouble" value="45.77285140729153"/>
<entry key="21" type="xdouble" value="45.77285140729153"/>
</config>
<config key="exclude_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="exclude" type="xboolean" value="false"/>
<config key="lat_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="lat_column" type="xstring" value="First*(lat)"/>
<config key="lon_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="lon_column" type="xstring" value="First*(long)"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.ext.osm.node.rowfilter.GeoRowFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Geo-Coordinate Row Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Open Street Map Views Integration"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.osm"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.0.v201711021644"/>
<entry key="node-feature-name" type="xstring" value="KNIME Open Street Map Integration"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.osm.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.0.v201711021644"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Geo-Coordinate Row Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 259, Cols: 16"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="11df4ca1-bb35-4317-99fe-1707fea4bd62"/>
</config>
</config>
