<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="polygon_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_geopolygon"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="polygon_selection_lonpoints">
<entry key="array-size" type="xint" value="12"/>
<entry key="0" type="xdouble" value="4.819908142089844"/>
<entry key="1" type="xdouble" value="4.8065185546875"/>
<entry key="2" type="xdouble" value="4.797248840332031"/>
<entry key="3" type="xdouble" value="4.7989654541015625"/>
<entry key="4" type="xdouble" value="4.8209381103515625"/>
<entry key="5" type="xdouble" value="4.8332977294921875"/>
<entry key="6" type="xdouble" value="4.8566436767578125"/>
<entry key="7" type="xdouble" value="4.868659973144531"/>
<entry key="8" type="xdouble" value="4.862480163574219"/>
<entry key="9" type="xdouble" value="4.887542724609375"/>
<entry key="10" type="xdouble" value="4.8841094970703125"/>
<entry key="11" type="xdouble" value="4.847373962402344"/>
</config>
<config key="polygon_selection_latpoints">
<entry key="array-size" type="xint" value="12"/>
<entry key="0" type="xdouble" value="45.77997516219392"/>
<entry key="1" type="xdouble" value="45.76081677972448"/>
<entry key="2" type="xdouble" value="45.74548533557156"/>
<entry key="3" type="xdouble" value="45.72751343961404"/>
<entry key="4" type="xdouble" value="45.72152152227953"/>
<entry key="5" type="xdouble" value="45.72271995716075"/>
<entry key="6" type="xdouble" value="45.73230651075432"/>
<entry key="7" type="xdouble" value="45.74069339553309"/>
<entry key="8" type="xdouble" value="45.77805962008006"/>
<entry key="9" type="xdouble" value="45.782608925150114"/>
<entry key="10" type="xdouble" value="45.78931248762557"/>
<entry key="11" type="xdouble" value="45.785003147146114"/>
</config>
<config key="exclude_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="exclude" type="xboolean" value="false"/>
<config key="lat_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="lat_column" type="xstring" value="First*(lat)"/>
<config key="lon_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="lon_column" type="xstring" value="First*(long)"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.ext.osm.node.rowfilter.GeoRowFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Geo-Coordinate Row Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Open Street Map Views Integration"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.osm"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.0.v201711021644"/>
<entry key="node-feature-name" type="xstring" value="KNIME Open Street Map Integration"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.osm.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.0.v201711021644"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Geo-Coordinate Row Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 2293, Cols: 16"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="b78fa89d-be4e-4b08-89cf-980834769c44"/>
</config>
</config>
